@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:700|Nunito+Sans:400,700&display=swap");

body {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #f0edf5;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Cormorant Garamond", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #545254;
  letter-spacing: -0.5px;
}

input {
  padding: 3px 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

button {
  margin: 0 0 0 10px;
  padding: 5px;
  background-color: #DDD;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 3px;

  border-bottom: solid 3px #CCC;
}

.delete-button {
  border: 0;
  background: transparent;
  color: #000;
  cursor: pointer;
}

.category-header {
  font-weight: 700;
}

.card {
  margin: 0 0 10px 0;
  padding: 0;
  box-shadow: none;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.progress {
  height: 20px;
  margin: 10px 0 0 0;
}

.add-item-textinput {
  width: 80%;
}
.add-item-button {
  width: 15%;
}
