@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f5f5f5;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #545254;
  letter-spacing: -0.5px;
}

input {
  margin: 5px;
  padding: 5px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

button {
  margin: 5px;
  padding: 5px 8px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #56505e;
  color: #fff;
}

.delete-button {
  border: 0;
  background: transparent;
  color: #000;
  cursor: pointer;
}

.card {
  margin: 0 0 5px 0;
}

.card-body {
  padding: 3px 5px;
}
