@import url("https://fonts.googleapis.com/css?family=Cabin:700|Nunito+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600&display=swap");

body {
  font-family: "Source Sans Pro", "Nunito Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  padding: 10px 14px;
  border: solid 1px #ccc;
  border-radius: 5px;
}

button {
  margin: 0;
  padding: 10px 14px;
  background-color: #ddd;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 3px;
  border-bottom: solid 3px #ccc;
}

.btn {
  font-size: 1.2rem;
}

.delete-button {
  border: 0;
  background: transparent;
  color: #000;
  cursor: pointer;
}

.category-header {
  font-weight: 700;
}

.card {
  margin: 0 0 10px 0;
  padding: 0;
}

input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.category-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.category-emoji {
  margin: 0 6px 0 0;
}

.progress {
  height: 20px;
  margin: 10px 0 0 0;
}

.add-item-textinput {
  width: 70%;
}
.add-item-button {
  width: 25%;
}

.packinglistitem-enter {
  opacity: 0.1;
}
.packinglistitem-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}
.packinglistitem-exit {
  opacity: 1;
}
.packinglistitem-exit-active {
  opacity: 0;
  transition: opacity 400ms ease-out;
}

.nav-icon {
  color: #cccccc;
  margin-right: 5px;
}

.navbar-brand {
  font-family: "Cabin", "Source Sans Pro", "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 27px;
  color: #545254;
  margin-right: 15px;
}

.nav-link {
  margin-right: 15px;
}

.nav-button {
  height: 45px;
  font-size: 14px;
  /* margin: 5px; */
  padding: 8px 12px;
  /* border: solid 1px #ccc; */
  /* background-color: red; */
  border-bottom: solid 2px #ccc;
  margin-top: 10px;
}

.nav-button:focus {
  outline: none;
}

#root {
  position: relative;
  min-height: 95vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
}

.list-group-item a:hover {
  text-decoration: none;
}

.nav-text {
  font-size: 0.9rem;
  text-transform: uppercase;
}
.nav-item {
  text-align: center;
}
